.four__section__conteiner
{
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.content__contact 
{

}
.info__contact
{
    width:auto;
}
input
{
    margin: 3px;
    height:30px;
}
textarea
{
    margin:3px;
}
.form
{
    display: flex;
    flex-direction: column;
    width: 300px;
}