@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

h1 {
    float: left; 
}

section {
    width: 100%;
}
.conteiner__article
{
    display: flex;
    
}
.conteiner__info 
{
    width:50%;
    background-color: black;
}
h3
{
    color:white
}
.conteiner__of__image
{
    width: 50%;
    height: 620px;
}
.img__of__article
{
width: 100%;
height: 100%;
background-position-x: 150px;
background-position-y: 450px;

background-repeat: no-repeat;
}

.second__section 
{

}
.second__section__conteiner
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.img__of__gallery
{
    width: 25%;
    min-width: auto;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}


.copy {
    font-size: 20px;
}


.sociales{
    width:100%;
    text-align: center;
    font-size:20px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}


@media (min-width:768px){
    .sociales {
        width: auto;
    }
    
    footer .contenedor{
    justify-content:space-between;
    
}

}
@media (min-width:1024px){
    .contenedor {
      
    }
}





















